body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w100per {
  width: 100%;
}

.w500px {
  width: 500px;
}

.padding20 {
  padding: 20px;
}

::-webkit-scrollbar {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 1.45em;
}

/* navbar */
.main-nav {
  margin-top: 5px;
  display: flex;
}

.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #34495e;
  font-size: .99em;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  display: flex;
  padding-top: .5em;
  padding-bottom: .5em;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(104, 195, 255, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(104, 195, 255, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(104, 195, 255, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
}
/* navbar */

/* ----------------------------------------------------- */
/* Home */
.bg_home {
  background-image: url('./images/register_bg.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home */
/* Login */
.bg_Login {
  background-color: white;
  opacity: 90%;
  border-radius: 15px;
  width: 80%;
  height: 200px;
  position: relative;
}

/* Login */
/* Reservation - Clinic */
.clinic_list_item {
  cursor: pointer;
  padding: 15px !important;
  margin: 7px;
}

.clinic_list_item:active {
  border: 1px solid #718daa !important;
}

/* Reservation - Clinic */